/.vs/EFCore4WebApi/v16/*.suo
AppDenpendency/bin
AppDenpendency/obj
AppRespository/bin
AppRespository/obj
AppService/bin
AppService/obj
Common/bin
Common/obj
EFCore4WebApi/bin
EFCore4WebApi/obj
MysqlRespository/bin
MysqlRespository/obj
.vs/EFCore4WebApi/config/applicationhost.config
.vs/EFCore4WebApi/DesignTimeBuild/.dtbcache.v2
